/**
* FONT-FACE
**/

@font-face 
  font-family Avenir
  font-style normal
  font-weight normal
  src url(../../assets/fonts/Avenir.otf)

@font-face 
  font-family Avenir Bold
  font-style normal
  font-weight bold
  src url(../../assets/fonts/AvenirBold.otf)

@font-face 
  font-family Avenir Light
  font-style normal
  font-weight light
  src url(../../assets/fonts/AvenirLight.otf)



/**
* FONT-SIZE
**/

$text_size = 18px 
$h1_size = 48px
$h2_size = 24px


/**
* STYLE 
**/

body
  font-family Avenir Light
  font-size rem($text_size)

h1 
  font-family Avenir
  font-size rem($h1_size)
  line-height 1.1

h2
  font-family Avenir Light
  font-size rem($h2_size)
  line-height 1.1

.text_bold_font
  font-family Avenir Bold
  font-size rem(20)




