em(n)
  n / $global_text_size em

rem(n)
  n / $global_text_size rem

padding2(a,b)
  padding em(a) em(b)

padding4(a,b,c,d) 
  padding em(a) em(b) em(c) em(d)

margin2(a,b)
  margin em(a) em(b)

margin4(a,b,c,d) 
  margin em(a) em(b) em(c) em(d)